@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
  margin:0;
  padding:0;
  font-size:large;
  max-width: 100%;
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
  letter-spacing: 0.1em;
  
}
body{
  background: rgb(161, 3, 253);
  background: linear-gradient(110deg, rgba(2,0,36,1) 0%, rgba(115,36,119,1) 72%);
  font-family: 'Patrick Hand', cursive;
}

.navbar-expand-md{
  opacity: 0.9; 
  
}
navbar-toggler ml-aut{
  background-color: red; 
}

.dropdownMenu{
  display:inline-block;
}
.main{
  width: inherit;
  height: inherit;
}
.logoImg{
  width: 12%;
  height: 12%;
}
.icons{
  width:100px;
  padding-right: 50%;
  font-family: 'Patrick Hand', cursive;
}
.row{
  font-family: 'Patrick Hand', cursive;
}
.profileImg{
  max-width: 80%;
  height: auto;
  display: block;
  border-radius: 20px;
  opacity: 0.9;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  
}
.col-md-5:hover .profileImg {
  opacity: 0.3;
}
.col-md-5:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 60px;
  font-family: 'Patrick Hand', cursive;
}
.introText{
  color: rgb(245, 244, 244);
  left: 20%;
  font-family: 'Patrick Hand', cursive;
}
.pinkTitle{
  color: #f5f3f5;
  
}
.myName{
  margin-bottom: 6%;
}
.whiteTitle{
  color: rgb(247, 244, 244);
  margin-bottom: 2%;
  font-family: 'Patrick Hand', cursive;
}

.contactimg{
  height:100%;
  width:50%;
  margin-left: 40%;
}
.tools{
  letter-spacing: 0.2em;
}
.white{
  background: url(./img/teclado.jpg);
  background-size: 100%;
  color: white;
  background-repeat: no-repeat;
  font-family: 'Patrick Hand', cursive;
  
}
.projectImg{
  width:60%;
  height:40%;
  margin-bottom:2%;
  }
.sections{
  padding: 10%;
  min-height: 90%;
  font-family: 'Patrick Hand', cursive;
}
.projects{
  color: white; 
  padding-left:2%;
}
.contactDiv{
  padding-left: 4%;
} 
.middleBtn{
margin-left: 40%;
}
.skillsDiv{
  margin-left: 2%;
  font-family: 'Patrick Hand', cursive;
}
.contact{
  margin-left: 40%;
}
.container{
  color: blanchedalmond;
  font-family: 'Patrick Hand', cursive;
}
.fa-html5, .fa-js, .fa-css3-alt, .fa-node, .fa-react, .fa-github, .fa-npm, .fa-bootstrap{
  font-size: 60px;
}
.fa-github-alt, .fa-envelope, .fa-linkedin{
  font-size: 100px;
  color: white;
  height: 100px;
    width: 250px;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  *{
    font-size: 10px; 
    letter-spacing: 0.1em;   
  }  
  .projectSection{
    padding-left: 20%;
  }
  .text{
    font-size: 10px;
}
.tools{
  letter-spacing: 0.2em;
}
.fa-github-alt, .fa-envelope, .fa-linkedin{
 
    width: 180px;
}
@media (max-width: 768px) {
  *{
    font-size: 13px;    
  } 
  .sections{
    padding:5%;
    padding-left: 10%;
  
  }
  .myName{
  margin-top: 0%;
  }
  .projectTitle{ 
  padding-left: 20%;}
  
}
  .projectImg{
  width: 65%;
  height:40%;
}
.logoImg{
  display: none;
}

}
@media (max-width: 576px) {
  *{
    font-size: 15px;
    margin:0;
    padding:0;
    letter-spacing: 0.1em;
  }
  .cv{
    margin-left: 30%;
  }
  .skillsDiv{
    margin-left: 10%;
    margin: 40%;
  }
  .contact{
    margin-left: 35%;
  }
  .myName{
    margin-top: 6%;
  }
  .logoSpacing{
    padding-bottom: 15%;
    margin-left: 5%;
  }
  .projectSection{
    padding-left: 15%;
  
  }
}
@media (max-width: 368px){
  *{
    font-size: 20px;
    margin:0;
    padding:0;
    letter-spacing: 0.1em;
  }
  .contact{
    padding-left: 0;
  }
  .cv{
    margin-left: 18%;
  }
  .projectImg{
    width: 100%;
    height:40%;

  }
  
}

